
<br />
<div id='form-body'>
    <h5 class="form-text text-muted">Sign-up using</h5>

    <form id='facebookSubmit' action='/auth/facebook'>
        <a onclick="document.getElementById('facebookSubmit').submit()" class="signin_button facebook"><span><i
                    class="fa fa-facebook" aria-hidden="true"></i></span>
            <div class="signin_label">Facebook</div>
        </a>
    </form>
    <form id='googleSubmit' action='/auth/google'>
        <a onclick="document.getElementById('googleSubmit').submit()" class="signin_button google"><span><i
                    class="fa fa-google" aria-hidden="true"></i></span>
            <div class="signin_label">Google</div>
        </a>
    </form>
</div>

<br />