.authentication-form {
  width: 50%;
  border-style: ridge;
  padding: 0.3em;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#messages-box {
    position: relative;
    height: 18em;
    overflow-y: scroll;
    border-style: ridge;
}